/*
	import into style sheet of apps using ui
	lines/animate/css/animate.scss
	@use "../../../ui/css/_global" as *;
*/
@use "_colors" as *;

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* { 
	box-sizing: border-box;
	// touch-action: manipulation; /* not sure why ... */
	touch-action: none; /* this fixes drawing on the onyx */
}

body::-webkit-scrollbar {
    display: none;
}

body {
	--base-font-size: 12;
	--quick-ref-font-size: 12;

	font-family: "Atkinson Hyperlegible Next", Verdana, sans-serif;
	margin: 0;
	font-size: calc(var(--base-font-size) * 1px);
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
	color: $text-color;
}

body.mobile { overflow: hidden; }

select, input, button {
	// color: $text-color;
	font-size: inherit;
	height: 1.5rem;
}

button:focus, 
select:focus { 
	outline: none; 
}

select {
	// vertical-align: middle;
	// height: 1.75em;
}

#tool-tip {
	pointer-events: none;
	position: fixed;
	z-index: 99;
	right: 1em;
	bottom: 1em;
	// background-color: white;
	background: $accent-two;
	// background: linear-gradient($accent-two 25%, $border-color 100%);
	border-radius: 1em;
	font-size: 1em;
	color: black;
	padding: 0.5em 1em;
	opacity: 0;
	transition: opacity 10ms ease-in;
	// box-shadow: -3px 3px 0 white;
	border: 0.25em solid black;

	&.visible {
		opacity: 1;
		transition: opacity 20ms ease-out;
	}
}

#interface,
#ui-timeline {
	position: relative;

	#resize {
		position: absolute;
		top: 0;
		right: 0;
		color: $text-color;
		z-index: 9;
		cursor: grab;
		&:active {
			cursor: grabbing;
		}
	}
}